.main_view {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.timer_view {
  display: flex;
  flex: 0;
  flex-direction: row;
  color: white;
  font-size: 200px;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.set {
  margin: 10px;
  border-radius: 10px;
  border-color: rgb(130, 130, 133);
  border: transparent;
  width: 7%;
  height: 70%;
}

.stop {
  margin: 10px;
  border-radius: 10px;
  border-color: rgb(130, 130, 133);
  border: transparent;
  width: 7%;
  height: 70%;
}
